h2 {
  font-family: "Merriweather Sans", sans-serif;
  font-size: 17px;
  color: #0a6495;
  margin-left: 9vw;
}

.register__form {
  display: flex;
  align-content: top;
  align-items: top;
}

.logo {
  margin-left: 12vw;
  width: 40vh;
  margin-top: 3vh;
}

body {
  padding: 0px;
  margin: 0px;
}

header {
  width: 45vw;
  align-content: center;
  align-items: center;
  margin-left: 30vw;
}

.off {
  display: none;
}

.access {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.register__button {
  font-family: "Merriweather Sans", sans-serif;
  font-size: 18px;
  height: 5vh;
  width: 83vw;
  background-color: #0a6495;
  color: white;
  border-radius: 6px;
}

.register__button2 {
  font-family: "Merriweather Sans", sans-serif;
  font-size: 18px;
  height: 5vh;
  width: 83vw;
  background-color: #0a6495;
  color: white;
  border-radius: 6px;
  margin-top: 5vw;
}

input {
  height: 4vh;
  width: 80vw;
  margin: 3px;
}

.register__confirm {
  display: flex;
  flex-direction: column;
  font-family: "Merriweather Sans", sans-serif;
  font-size: 18px;
  color: #0a6495;
  display: flex;
  align-content: center;
  align-items: center;
}

.register__confirm__button {
  font-family: "Merriweather Sans", sans-serif;
  font-size: 18px;
  margin-top: 3vw;
  height: 5vh;
  width: 20vw;
  background-color: #0a6495;
  color: white;
  border-radius: 4px;
}

.login__button {
  font-family: "Merriweather Sans", sans-serif;
  font-size: 18px;
  margin-top: 5vw;
  height: 5vh;
  width: 83vw;
  background-color: #0a6495;
  color: white;
  border-radius: 6px;
}

.h2 {
  align-items: center;
  text-align: center;
}

.register__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.login__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.video {
  margin-left: 7vw;
  display: flex;
  align-items: center;
  align-content: center;
}

.welcome {
  font-family: "Merriweather Sans", sans-serif;
  font-size: 30px;
  color: #0a6495;
  text-align: center;
}

.welcome__image {
  width: 50vw;
  height: 50vw;
}

.logOut {
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  align-items: flex-end;
  margin-right: 15vw;
}

.logOut__button {
  font-family: "Merriweather Sans", sans-serif;
  font-size: 18px;
  margin-left: 15vw;
  margin-top: 5vw;
  height: 5vh;
  width: 30vw;
  background-color: #0a6495;
  color: white;
  border-radius: 6px;
}

.logOut__symbol {
  padding: 1vw;
  color: white;
  font-size: 25px;
}

.save {
  font-family: "Merriweather Sans", sans-serif;
  font-size: 18px;
  margin-top: 5vw;
  height: 5vh;
  width: 14vw;
  background-color: #0a6495;
  color: white;
  border-radius: 6px;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.profile__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  margin-top: 20px;
}
.profile__form input {
  height: 4vh;
  width: 50vw;
  margin: 3px;
}

.profile__button {
  font-family: "Merriweather Sans", sans-serif;
  font-size: 18px;
  margin-top: 5vw;
  height: 5vh;
  width: 50vw;
  background-color: #0a6495;
  color: white;
  border-radius: 6px;
}

/*# sourceMappingURL=index.css.map */
